footer {
    /* position: sticky; */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-radius: 2px;
    background: #ffffff;
    box-shadow:  13px 13px 26px #f0f0f0, 
                 -13px -13px 26px #ffffff;
}
    /* color: coral; */
    
    /* padding: 1rem; */
    
.foot-text{
    color: blueviolet;
}