<nav class="navbar navbar-expand-md  fixed-top">
    <a class="navbar-brand" href="#"><span style="color: #8C8C8C;">Domain</span> <span>Tracker</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" style="color: #676767;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Notifications" style="color:#676767;">Notifications</a>
        </li>
      </ul>
    </div>
  </nav>
