body{
    background-color: #eeeeee;
}
.nav-item{

    font-family: "archia";
    padding:5px;
    margin-left: 10px;
}
.nav-item:hover{
    font-family: "archia";
    padding:5px;
    margin-left: 10px;
    border-radius: 8px;
background: #fafafa;
box-shadow: inset -14px 14px 27px #eeeeee, 
            inset 14px -14px 27px #ffffff;
            }
.navbar{
    display: flex;
    top: 0;
    /* margin-top: 3px;
    margin-top: 5px; */
    border-radius: 2px;
background: #ffffff;
box-shadow:  13px 13px 26px #f0f0f0, 
             -13px -13px 26px #ffffff;
}