.headoverlap{
    margin-left: 10px;
     margin-top: 90px;
     margin-bottom: 20px;
 }
 
 .heading{
     margin-top: 10px;
 }
 .table-responsive {
     max-height:500px;
 }
 .domainsComponent{
     /* display: flex; */
     /* margin-bottom: 10px; */
     margin-top: 3px;
     margin-top: 5px; 
     margin-left: 25px;
     margin-right: 25px;
     margin-bottom: 50px;
     /* border-radius: 9px; */
 background: #ffffff;
 box-shadow:  35px 35px 70px #ebebeb, 
              -35px -35px 70px #ffffff;
 }
 .domainName{
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 td{
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 #newbtn{
     margin-top: 6px;
     margin-bottom: 8px;
     margin-left: 6px;
 }
 th{
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: sticky; top: 0;
 }
 .form__field {
    background: transparent;
    font-family: inherit;
    width: 100%;
    outline: 0;
    border: 0;
    color: black;
    border-bottom: 1px gray;
    
 }