<div class="container-fluid" style="max-width:1650px">
    <div class="headoverlap">
    <div class="row">
        <div class="col">
            <div class="heading" >
                <h2 style="color: #676767;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Notifications</h2>
            </div>
        </div>
        </div>    
</div>
</div>
<div class="domainsComponent">
    <table class="table">
    <tr>
    <th>Domain</th>
    <th>Notification E-mail Id</th>
    </tr>
    <tr *ngFor="let domain of domainData; let i = index;" >
        <td class="domainName"><a href="http://www.{{domain.domainName}}">{{domain.domainName}}</a></td>
        <td>
            <input type="text" class="form__field" [(ngModel)]="domainData[i].email" placeholder="xyz@gmail.com,abc@gmail.com">
        </td>
    </tr>
   
</table>
<button class="btn btn-default btn-success"  id="newbtn" (click)="check_mail()">Update</button>
<br>
</div>  