<table width="100%" cellpadding="0" cellspacing="0" style="box-sizing:border-box;font-family:Arial,sans-serif;margin:0;padding:0;width:100%" bgcolor="#f2f4f6">
      <tbody><tr>
        <td align="center" style="box-sizing:border-box;font-family:Arial,sans-serif;word-break:break-word">
          <table width="100%" cellpadding="0" cellspacing="0" style="box-sizing:border-box;font-family:Arial,sans-serif;margin:0;padding:0;width:100%">
            <tbody><tr>
              <td style="box-sizing:border-box;font-family:Arial,sans-serif;padding:25px 0;word-break:break-word" align="center">
                <a href="#" style="box-sizing:border-box;color:#bbbfc3;font-family:Arial,sans-serif;font-size:16px;font-weight:bold;text-decoration:none">Domain Check</a>
              </td>
            </tr>
            <tr>
              <td width="100%" cellpadding="0" cellspacing="0" style="border-bottom-color:#edeff2;border-bottom-style:solid;border-bottom-width:1px;border-top-color:#edeff2;border-top-style:solid;border-top-width:1px;box-sizing:border-box;font-family:Arial,sans-serif;margin:0;padding:0;width:100%;word-break:break-word" bgcolor="#ffffff">
                <table align="center" width="570" cellpadding="0" cellspacing="0" style="box-sizing:border-box;font-family:Arial,sans-serif;margin:0 auto;padding:0;width:570px" bgcolor="#ffffff">
                  <tbody><tr>
                    <td height="392" style="box-sizing:border-box;font-family:Arial,sans-serif;padding:35px;word-break:break-word">
                      <h1 style="box-sizing:border-box;color:#74787e;font-family:Arial,sans-serif;font-size:18px;margin-top:0" align="left">Hi,</h1>
                      <p style="box-sizing:border-box;color:#74787e;font-family:Arial,sans-serif;font-size:16px;line-height:1.5em;margin-top:0" align="left">We're sending you this email to inform you that the SSL certificate for <strong style="box-sizing:border-box;font-family:Arial,sans-serif"><a href="http://google.com" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://google.com&amp;source=gmail&amp;ust=1587461013743000&amp;usg=AFQjCNGtIldLIn8XeLrn7iJrDycMf_HcrA">{{domain}}</a></strong> has changed.</p>
                      <table align="center" width="100%" cellpadding="0" cellspacing="0" style="box-sizing:border-box;font-family:Arial,sans-serif;margin:30px auto;padding:0;text-align:center;width:100%">
                        <tbody><tr>
                          <td align="center" style="box-sizing:border-box;font-family:Arial,sans-serif;word-break:break-word">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="box-sizing:border-box;font-family:Arial,sans-serif">
                              <tbody><tr>
                                <td align="left" style="box-sizing:border-box;font-family:Arial,sans-serif;word-break:break-word">
                                  <table  border="0" cellspacing="0" cellpadding="0" style="box-sizing:border-box;font-family:Arial,sans-serif">
                                    <tbody><tr>
                                      <td style="box-sizing:border-box;font-family:Arial,sans-serif;word-break:break-word" >
                                        <a href="#" style="background:#1982f3;border-color:#1982f3;border-radius:3px;border-style:solid;border-width:10px 18px;box-sizing:border-box;color:#ffffff;display:inline-block;font-family:Arial,sans-serif;font-size:16px;text-decoration:none" >Manage alerts</a>
                                      </td>
                                    </tr>
                                  </tbody></table>
                                </td>
                              </tr>
                            </tbody></table>
                          </td>
                        </tr>
                      </tbody></table>
                      <p style="box-sizing:border-box;color:#74787e;font-family:Arial,sans-serif;font-size:16px;line-height:1.5em;margin-top:0" align="left">Thanks,
                        <br>DomainTracker Team</p></td>
                  </tr>
                </tbody></table>
              </td>
            </tr>
            <tr>
              <td style="box-sizing:border-box;font-family:Arial,sans-serif;word-break:break-word">
                <table align="center" width="570" cellpadding="0" cellspacing="0" style="box-sizing:border-box;font-family:Arial,sans-serif;margin:0 auto;padding:0;text-align:center;width:570px">
                  <tbody><tr>
                    <td align="center" style="box-sizing:border-box;font-family:Arial,sans-serif;padding:35px;word-break:break-word">
                      <p style="box-sizing:border-box;color:#bbbfc3;font-family:Arial,sans-serif;font-size:12px;line-height:1.5em;margin:0" align="center">Â© 2020 Domain Check. All rights reserved.</p>
                    </td>
                  </tr>
                </tbody></table>
              </td>
            </tr>
          </tbody></table>
        </td>
      </tr>
    </tbody></table>