<div class="container-fluid" style="max-width:1650px">
<div class="headoverlap">
    <div class="row">
    <div class="col">
        <div class="heading" >
            <h2 style="color: #676767;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Domains</h2>
        </div>
    </div>
    </div>

<div class="row">
    <div class="col">
        <button class="btn btn-default btn-primary" id="newbtn" (click)="addRow()">New Domain</button>
        <br>
    </div>
    <div *ngIf="newdomainTrigger">
<div  class="col" >
       
        <input type="text" [(ngModel)]="newDomainName" class="form-control" id="add" placeholder="xyz.com"> 
        <button class="btn btn-success"  style="margin: 10px;" (click)="newdomain()">Add domain</button> 
    
</div>
</div>
</div>
<div class="domainsComponent">
<div class="mytable ">

    <table class="table table-fixed">
    <tr>
    <th>Domain</th>
    <th>Registarar</th>
    <th>Domain Expiry Date</th>
    <th>Remining Period(In Days)</th>
    <th>SSL Issuer</th>
    <th>SSL Expiry Date</th>
    <th>Remaining Period(In Days)</th>
    </tr>
    <tr *ngFor="let domain of domainData; let i = index;"  [ngStyle]="{'color': domain.ssl_expiry_days > 30 && domain.domain_remaining_days > 30? '#28a745' : '#ff073a'}">
        <td class="domainName"><a href="http://www.{{domain.domainName}}">{{domain.domainName}}</a></td>
        <td>{{domain.domain_registrar}}</td>
        <td>{{domain.domain_expiry_date}}</td>
        <td>{{domain.domain_remaining_days}}</td>
        <td>{{domain.ssl_issuer}}</td>
        <td>{{domain.ssl_expiry_date}}</td>
        <td>{{domain.ssl_expiry_days}}</td>
    </tr>
</table>
</div>   
</div>
</div>
</div>